.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}
h1{
  color: blanchedalmond;
}
.card{
padding: 20px;
margin: 20px;
float: right;
width: 200px;
background-color: black;
color:black;
}
html{
  background-color: black;
  color: white;
}